body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('https://images.pexels.com/photos/614077/pexels-photo-614077.jpeg?auto=compress&cs=tinysrgb&h=350'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
a{
    text-decoration: none;
    color: gainsboro;
}

header {
    background-color:black;
    color: white;
    padding: 15px 0;
    text-align: center;
}
h1{
    margin-right: 900px;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: black;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: red;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.help-content p {
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
h2,p{
    color: whitesmoke;
}